registry=http://verdaccio.op.leiga.net:14873/
always-auth=true
//verdaccio.op.leiga.net:14873/:_authToken="yHEFNwid1nmwX7Be2qpFYKVMIQS+85IpniF5XZQ+Y4E="

shamefully-hoist=true
strict-peer-dependencies=false
